@import '../../root.css';


.pai-form {
    height: 300px;
    width: 363px;
    left: 258px;
    top: 127px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 5px var(--cinza-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-form {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

label {
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

input {
    margin-top: 10px;
    box-shadow: inset 0px 0px 3px 0px;
    background-color: var(--cinza-3);
}

.input-descricao {
    height: 32.80000305175781px;
    width: 90%;
    left: 0px;
    top: 34.0999755859375px;
    border-radius: 8px;
    padding: 0px, 8px, 0px, 8px;
    border: none;
    padding-left: 10px;

}

.input-valor {
    height: 29px;
    width: 76px;
    left: 0px;
    top: 31px;
    border-radius: 8px;
    padding: 0px, 8px, 0px, 8px;
    border: none;
    padding-left: 10px;

}

input:focus {
    border: none;
}

select{
    height: 29px;
    width: 140px;
    left: 0px;
    top: 31px;
    border-radius: 8px;
    padding: 0px, 8px, 0px, 8px;
    border: none;
    padding-left: 10px;
    background-color: var(--cinza-3);
}

select::selection {
    border: none;
}

form button {
    align-self: center;
    margin-top: 20px;
    width: 100%;
    height: 42px;

}

@media screen and (max-width: 900px) {

    .pai-form {
        height: 300px;
        max-width: 90%;
        left: 258px;
        top: 127px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 5px var(--cinza-2);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }


}